<section class="py-6 pt-7 bg-primary-gradient">
    <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:left bottom;background-size:auto;filter:contrast(1.5);"></div>
 
    <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:right top;background-size:auto;margin-top:-75px;"></div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 order-0 order-sm-0 pe-6"><a class="text-decoration-none" href="#"><img class="img-fluid me-2" src="assets/images/footer-logo.png" alt="" /><span class="fw-bold fs-1 text-light">Vasy Byako Healthcare</span></a>
          <p class="mt-3 text-white">VB Healthcare предоставляет медицинскую помощь, доступную со смартфона!</p>
        </div>
        <div class="col-4 col-md-4 col-lg mb-3 order-2 order-sm-1">
          <h6 class="lh-lg fw-bold text-light">Компания</h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">О нас</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Отзывы</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Найти врача</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Приложение</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-4 col-lg mb-3 order-3 order-sm-2">
          <h6 class="lh-lg fw-bold text-light"> Регион </h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Рашка</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Сингапур</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Гайд</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Гонконг</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Канада</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-4 col-lg mb-3 order-1 order-sm-3">
          <h6 class="lh-lg fw-bold text-light">Помощь </h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Центр помощи</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Контакты поддержки</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Гайды</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Инструкции</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Как это работает</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>