<section class="py-0">
    <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:left;background-size:auto;margin-top:-105px;"></div>

    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="assets/images/hero-header.png" alt="" /></div>
        <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
          <h1 class="mb-4 display-3 fw-bold">Забота о вашем здоровье <br class="d-block d-lg-none d-xl-block" />онлайн.</h1>
          <p class="mt-3 mb-4 fs-1">VB Healthcare предоставляет<br class="d-none d-lg-block" />медицинскую помощь, доступную со смартфона!<br class="d-none d-lg-block" /></p><a class="btn btn-lg btn-primary rounded-pill hover-top" href="#" role="button">Подробнее</a>
        </div>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="bg-holder" style="background-image:url(assets/images/services-bg.png);background-position:center left;background-size:auto;"></div>

    <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:center right;background-size:auto;margin-left:-180px;margin-top:20px;"></div>

    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <h2 class="fw-bold">Наши услуги</h2>
          <hr class="w-25 mx-auto text-dark" style="height:2px;" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9 col-xl-8 text-center">
          <p>Мы предоставляем вам большой выбор медицинских услуг. Подберите для себя индивидуальный план лечения или консультаций и убедитесь, что вы проходите лечение у высококвалифицированного врача. Вы можете проконсультироваться с нами, какой вид услуг подходит именно вам.</p>
        </div>
      </div>
      <div class="row justify-content-center h-100 pt-7 g-4">
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/search.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Подобрать специалиста</h4>
                <p class="card-text">Выберите врача из огромного колличества специалитстов, которым доверяю лучшие больницы</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/online-pharmacy.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Аптека онлайн</h4>
                <p class="card-text">Покупайте лекарства черезудобное мобильное приложение и с быстрой доставкой</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/consultation.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Консультации</h4>
                <p class="card-text">Получите рекомендации, проведя бесплатную консультацию с одним из наших специалистов</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/details-info.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Подробные отчеты</h4>
                <p class="card-text">Получайте подробные отчеты о своем состоянии, состоянии ваших детей и близких. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/emergency-care.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Неотложная помощь</h4>
                <p class="card-text">При необходимости, машина неотложной помощи будет у вас дома в течении нескольких минут</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/tracking.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Мед. карта онлайн</h4>
                <p class="card-text">Храните историю обследований и болезней на наших серверах </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center py-4"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Подробнее </button></div>
      </div>
    </div>
  </section>
  <section class="py-6 py-lg-8" id="about">
    <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:right bottom;background-size:auto;margin-top:50px;"></div>

    <div class="container">
      <div class="row g-xl-0 align-items-center">
        <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="assets/images/about-1.png" width="480" alt="" /></div>
        <div class="col-md-6 text-center text-md-start">
          <h2 class="fw-bold lh-base">Передовая <br />медицинская помощь</h2>
          <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
          <p class="pt-3">VB Healthcare предоставляет передовую медицинскую пмощь. Для нас это не просто бизнес. Это дело, которым мы гордимся.</p>
          <div class="py-3"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Подробнее </button></div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-6 py-lg-8">
    <div class="container">
      <div class="row g-xl-0 align-items-center">
        <div class="col-md-6 order-md-1 text-md-end"><img class="img-fluid mb-5 mb-md-0" src="assets/images/about-1.png" width="480" alt="" /></div>
        <div class="col-md-6 text-center text-md-start order-md-0">
          <h2 class="fw-bold lh-base">Загрузите наше <br />мобильное приложение</h2>
          <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
          <p class="pt-3">Удобное мобильное приложение позволит пользоваться всеми нашими услугами в любое время. Звонки в поликлинику остались в прошлом!</p>
          <div class="py-3"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Подробнее <svg class="bi bi-arrow-down-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"></path>
              </svg></button></div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-8" id="testimonial">
    <div class="container">
      <div class="bg-holder z-index-1" style="background-image:url(assets/images/dot.png);background-position:right top;background-size:auto;margin-left:-30px;margin-top:10px;filter:contrast(1.5);"></div>
   
      <div class="bg-holder z-index-1" style="background-image:url(assets/images/dot-2.png);background-position:left bottom;background-size:auto;margin-left:-35px;margin-top:-65px;filter:contrast(1.5);"></div>

      <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row h-100">
              <div class="col-12">
                <div class="card text-white bg-primary-gradient">
                  <div class="card-body p-4 p-md-4 p-lg-7">
                    <h2 class="fw-bold text-white text-center">Что говорят наши клиенты</h2>
                    <hr class="mx-auto" style="height:2px;width:50px" />
                    <div class="d-md-flex align-items-md-center mt-5 text-center text-md-start"><img class="img-fluid me-4 me-md-3 me-lg-4" src="assets/images/user-1.png" width="100" alt="" />
                      <div class="w-md-25 my-3">
                        <h5 class="mb-0 fw-medium text-white">Никита</h5>
                        <p class="fw-normal mb-0">Величайший преподаватель</p>
                      </div>
                      <div class="w-md-75">
                        <p class="card-text ms-md-5">“Это гениально! Такой невероятный функционал, я был восхищен работой, проделанной Васей Бяко. Восемь пятерок в журнал.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row h-100">
              <div class="col-12">
                <div class="card text-white bg-primary-gradient">
                  <div class="card-body p-4 p-md-4 p-lg-7">
                    <h2 class="fw-bold text-white text-center">Что говорят наши клиенты</h2>
                    <hr class="mx-auto" style="height:2px;width:50px" />
                    <div class="d-md-flex align-items-md-center mt-5 text-center text-md-start"><img class="img-fluid me-4 me-md-3 me-lg-4" src="assets/images/user-2.png" width="100" alt="" />
                      <div class="w-md-25 my-3">
                        <h5 class="mb-0 fw-medium text-white">Афанасия</h5>
                        <p class="fw-normal mb-0">UI/UX дизайнер</p>
                      </div>
                      <div class="w-md-75">
                        <p class="card-text ms-md-5">“По-моему у нас с Васей Бяко получился отличный сайт. Мы очень старались. Поставте нам "5" пожалуйста.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row h-100">
              <div class="col-12">
                <div class="card text-white bg-primary-gradient">
                  <div class="card-body p-4 p-md-4 p-lg-7">
                    <h2 class="fw-bold text-white text-center">Что говорят наши клиенты</h2>
                    <hr class="mx-auto" style="height:2px;width:50px" />
                    <div class="d-md-flex align-items-md-center mt-5 text-center text-md-start"><img class="img-fluid me-4 me-md-3 me-lg-4" src="assets/images/user-3.png" width="100" alt="" />
                      <div class="w-md-25 my-3">
                        <h5 class="mb-0 fw-medium text-white">Алексей Бусыгин</h5>
                        <p class="fw-normal mb-0">Настоящий автор сайта</p>
                      </div>
                      <div class="w-md-75">
                        <p class="card-text ms-md-5">“Вася Бяко ничего не делал. Весь сайт я сделал за него. Но пять все равно можете ему поставить.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 flex-center">
          <div class="col-4 col-sm-5 text-end position-relative z-index-2"><a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Назад</span></a></div>
          <div class="col-auto position-relative z-index-2">
            <ol class="carousel-indicators">
              <li class="active" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
              <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
            </ol>
          </div>
          <div class="col-4 col-sm-5 position-relative z-index-2"><a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Вперед</span></a></div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-holder" style="background-image:url(assets/images/article-bg.png);background-position:right center;background-size:auto;"></div>
 
    <div class="container-lg">
      <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:left top;background-size:initial;margin-top:120px;margin-left:-35px;"></div>

      <div class="row flex-center">
        <div class="col-auto text-center">
          <h2 class="fw-bold">Последние статьи</h2>
          <hr class="mx-auto text-dark" style="height:2px;width:50px" />
        </div>
      </div>
      <div class="row h-100 justify-content-center pt-6">
        <div class="col-12 col-sm-9 col-md-4 mt-4">
          <div class="card h-100 rounded-3 shadow"><img src="assets/images/article-1.png" alt="" />
            <div class="card-body p-4 text-center text-md-start">
              <h5 class="fw-bold">Обнаружение заболеваний</h5>
              <p class="card-text">В процессе обнаружения болезни огромную роль играет лаборатория...</p><a class="stretched-link text-decoration-none" href="#" role="button">Читать дальше<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-4 mt-4">
          <div class="card h-100 rounded-3 shadow"><img src="assets/images/article-2.png" alt="" />
            <div class="card-body p-4 text-center text-md-start">
              <h5 class="fw-bold">Растительные лекарства </h5>
              <p class="card-text">Растительные лекарственные средства набирают все большую популярность...</p><a class="stretched-link text-decoration-none" href="#" role="button">Читать дальше<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-4 mt-4">
          <div class="card h-100 rounded-3 shadow"><img src="assets/images/article-3.png" alt="" />
            <div class="card-body p-4 text-center text-md-start">
              <h5 class="fw-bold">Забота о коже</h5>
              <p class="card-text">Начиная вести здоровый образ жизни, не стоит забывать о здоровье кожи...</p><a class="stretched-link text-decoration-none" href="#" role="button">Читать дальше<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="text-center pt-4 z-index-2"><button class="btn btn-lg btn-outline-primary rounded-pill z-index-2 hover-top" type="submit">Посмотреть все</button></div>
      </div>
    </div>
  </section>